
{{#if error}}
<p>There was an error with your entry: {{error}}.</p>
{{/if}}
<form action='/mytodolist' method='post'>


<h6>Enter your items.
<br><input type='text' value='Enter item' 
name="myList"><br> 
<input type="text" id="message" name="message">
<br>
<button type='submit'>Submit</button>
</form>

<br>
