{{#if badCredentials}}
<h6>Incorrect login information entered.<h6>
{{/if}}
<form action='/login' method='post'>
<h4>Username:<br> <input type='text' name='username'><h4>
<h4>Password:<br> <input type='password' name='password'><h4>

<button type='submit'>Submit</button>
</form>