body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/background1.jpg); 
}

#content {
	background-image: url(../images/zChat_logo.png);
    background-repeat: no-repeat;
    background-position: top; 
	background-attachment: local;
	background-color: #CCCCCC;
	padding-top: 130px;
	padding-bottom: 10%;
	padding-left: 19px;
	margin-top: 21px;
	margin-right: 17%;
	margin-left: 10%;
	width: 77%;
	border-radius: 6px;
	border-style: ridge;
	border-color: #021714;
	border-width:thick;
	overflow-y: scroll;

	
		
}

.controls {
	margin: 0 auto;
	width: 80%;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
	font-family:Verdana, Geneva, sans-serif;
	font-style: inherit;
	color: #FFFFFF;

	
}

#login{
	padding: 15px;
	text-align:center;
	
	}
	
	
.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #000000;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-size: 12px;
	}
	
	
input{
	border-radius: 5px;
	border: 12;
	border-color: #3E00B3;
	height: 30px;
	}	
	
#field{
	height: 40px;

}


a {
  color: #00B7FF;
}


h1{
	font-size: 2em;
	}
	
h3{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #4F00AE;
		
	}
	
#header{
	background-image: url(../images/logo.png);
    background-repeat: no-repeat;
 
    background-position: center; 

	}