html
    head
        title= "Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    body
        #content(style='width: 400px; height: 300px; border: solid 1px #999; background-color: #CCFFFF;')
        .controls
            | Name: 
            input#name(style='width:350px; height: 20px;')
            br
            input#field(style='width:310px; height: 20px;')
            input#send(type='button', value='send')
            
            input#reset(type='button', value='reset')


