
{{#if error}}
<p>There was an error with your entry: {{error}}.</p>
{{/if}}
<form action='/mytodolist' method='post'>
Enter your Item <br> <input type='text' value='Enter item' name="myList"><br> 
</form>

<br>
