doctype html
html(lang="en")
    head
        title= "zChat"
        script(src='/chat.js')
        controller(src='account.js')
        script(src='/socket.io/socket.io.js')
        models(src='user.js')
        models(src='api-messages.js')
        models(src='api-response.js')
        models(src='user-profile.js')
        script(src='/json.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
  		#content(style='height: 250px; border: solid 1px #999;') 
  		.controls
  		h2 Register

  		form.users(method='post', action='/users')
    	!=partial('fields', { locals: { user: user } })
    	div
      	input(type='submit', value='Register')
      	span \ or 
        a(href='/sessions/new') Log In
